configparser==7.2.0 ; python_version >= "3.9"
natsort==6.2.1 ; python_version >= "3.9"
polib==1.2.0 ; python_version >= "3.9"
python-dateutil==2.9.0.post0 ; python_version >= "3.9"
ruamel-yaml-clib==0.2.12 ; platform_python_implementation == "CPython" and python_version < "3.14" and python_version >= "3.9"
ruamel-yaml==0.18.14 ; python_version >= "3.9"
setuptools==80.9.0 ; python_version >= "3.9"
six==1.17.0 ; python_version >= "3.9"
