black==24.4.2 ; python_version >= "3.8"
click==8.1.8 ; python_version >= "3.8"
colorama==0.4.6 ; python_version >= "3.8" and platform_system == "Windows"
configparser==7.1.0 ; python_version >= "3.8"
flake8==5.0.4 ; python_version >= "3.8"
mccabe==0.7.0 ; python_version >= "3.8"
mypy-extensions==1.0.0 ; python_version >= "3.8"
natsort==6.2.1 ; python_version >= "3.8"
packaging==24.2 ; python_version >= "3.8"
pathspec==0.12.1 ; python_version >= "3.8"
platformdirs==4.3.6 ; python_version >= "3.8"
polib==1.2.0 ; python_version >= "3.8"
pycodestyle==2.9.1 ; python_version >= "3.8"
pyflakes==2.5.0 ; python_version >= "3.8"
python-dateutil==2.9.0.post0 ; python_version >= "3.8"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.8"
ruamel-yaml==0.18.10 ; python_version >= "3.8"
setuptools==75.3.2 ; python_version >= "3.8"
six==1.17.0 ; python_version >= "3.8"
tomli==2.2.1 ; python_version < "3.11" and python_version >= "3.8"
typing-extensions==4.13.0 ; python_version < "3.11" and python_version >= "3.8"
